*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	color: #6c6b6b;
}
a{
	text-decoration: none!important;
}
h2{
  color:black;
}
p{
  color: black;
}
.clearfix:after {
 content: "";
 clear: both;
 display: block;
}

.navContainer{
  background: #EC715F;
  height: 70px;
}
.logoArea{
  width: 1024px;
  margin: 0 auto;
}
.logoImg{
  height: 70px;
  float: left;
}
.naviArea{
  list-style: none;
  float: right;
  line-height: 70px;
}
.naviArea li{
  display: inline-block;
  font-size: 16px;
  color: #FAFAFA;
  margin :0 30px;
}

.imgWrap{
  background: url(img/mv.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  text-align: center;
}
.wrapTitle{
  padding-top: 200px;
  padding-bottom: 10px;
  font-size:64px;
  color: #FAFAFA;
}
.WrapSubTitle{
  font-size: 20px;
  color: #FAFAFA;
}
.portfolioTxt{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size:16px;
  color: #000;
}
.portTitle{
  font-size: 32px;
  color:#000000;
  padding-top: 90px;
  padding-bottom: 8px;
}
.Underline{
  border-bottom: 3px solid #EC715F;
  width: 70px;
  display: inline-block;
}
.Works{
  padding-bottom: 80px;
}
.work00{
  width: 300px;
  height: 300px;
  background: url(img/sketch.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  margin-bottom: 10px;
}
.work01{
  margin-right: 10px;
}
.work02{
  background: url(img/websuku.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin-right: 10px;
}
.work03{
  background: url(img/write.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.work04{
  background: url(img/webcamp.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin-right: 10px;
}
.work05{
  background: url(img/talk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.work06{
  background: url(img/webcamp-mother.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.portfolioContainer{
  width: 920px;
  margin: 0 auto;
  text-align: center;
}
.FeatureWrap{
  background: #fff;
}
.FeatureTxt{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size:16px;
  color: #000;
}
.FeatureTitle{
  font-size: 32px;
  color:#000000;
  padding-top: 90px;
  padding-bottom: 8px;
}


